-- MySQL dump 10.13  Distrib 8.0.30, for Win64 (x86_64)
--
-- Host: localhost    Database: kinerja_pengawas
-- ------------------------------------------------------
-- Server version	8.0.30

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `jenis_kegiatan`
--

DROP TABLE IF EXISTS `jenis_kegiatan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `jenis_kegiatan` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nama_kegiatan` varchar(255) NOT NULL,
  `poin_kredit` float DEFAULT '0',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jenis_kegiatan`
--

LOCK TABLES `jenis_kegiatan` WRITE;
/*!40000 ALTER TABLE `jenis_kegiatan` DISABLE KEYS */;
INSERT INTO `jenis_kegiatan` VALUES (1,'Pemantauan 8 Standar Nasional Pendidikan',2),(2,'Penilaian Kinerja Guru (PKG)',3),(3,'Pembimbingan dan Pelatihan Guru',2.5),(4,'Penyusunan Program Pengawasan',1),(5,'Laporan Hasil Pengawasan',1.5);
/*!40000 ALTER TABLE `jenis_kegiatan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kinerja`
--

DROP TABLE IF EXISTS `kinerja`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kinerja` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `tanggal_kegiatan` date NOT NULL,
  `jenis_kegiatan_id` int DEFAULT NULL,
  `madrasah_id` int DEFAULT NULL,
  `deskripsi` text NOT NULL,
  `file_bukti` varchar(255) DEFAULT NULL,
  `status` enum('pending','disetujui','ditolak') NOT NULL DEFAULT 'pending',
  `catatan_validasi` text,
  `tanggal_validasi` datetime DEFAULT NULL,
  `validator_id` int DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `foto_timestamp` datetime DEFAULT NULL COMMENT 'Waktu asli foto diambil dari EXIF',
  `foto_gps_lat` decimal(10,8) DEFAULT NULL COMMENT 'GPS Latitude',
  `foto_gps_lng` decimal(11,8) DEFAULT NULL COMMENT 'GPS Longitude',
  `foto_metadata` text COMMENT 'JSON metadata lengkap EXIF',
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  KEY `jenis_kegiatan_id` (`jenis_kegiatan_id`),
  KEY `madrasah_id` (`madrasah_id`),
  CONSTRAINT `fk_kinerja_kegiatan` FOREIGN KEY (`jenis_kegiatan_id`) REFERENCES `jenis_kegiatan` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_kinerja_madrasah` FOREIGN KEY (`madrasah_id`) REFERENCES `madrasah` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_kinerja_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kinerja`
--

LOCK TABLES `kinerja` WRITE;
/*!40000 ALTER TABLE `kinerja` DISABLE KEYS */;
/*!40000 ALTER TABLE `kinerja` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `madrasah`
--

DROP TABLE IF EXISTS `madrasah`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `madrasah` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nsm` varchar(20) NOT NULL,
  `npsn` varchar(20) DEFAULT NULL,
  `nama_madrasah` varchar(100) NOT NULL,
  `jenjang` varchar(50) DEFAULT NULL,
  `status` varchar(20) DEFAULT NULL,
  `alamat` text,
  `provinsi` varchar(100) DEFAULT NULL,
  `kabupaten` varchar(100) DEFAULT NULL,
  `kecamatan` varchar(100) DEFAULT NULL,
  `kepala_madrasah` varchar(100) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nsm` (`nsm`),
  KEY `idx_npsn` (`npsn`),
  KEY `idx_jenjang` (`jenjang`),
  KEY `idx_kecamatan` (`kecamatan`),
  KEY `idx_status` (`status`)
) ENGINE=InnoDB AUTO_INCREMENT=820 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `madrasah`
--

LOCK TABLES `madrasah` WRITE;
/*!40000 ALTER TABLE `madrasah` DISABLE KEYS */;
/*!40000 ALTER TABLE `madrasah` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pengawas_madrasah`
--

DROP TABLE IF EXISTS `pengawas_madrasah`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pengawas_madrasah` (
  `id` int NOT NULL AUTO_INCREMENT,
  `pengawas_id` int NOT NULL COMMENT 'ID user dengan role pengawas',
  `madrasah_id` int NOT NULL COMMENT 'ID madrasah yang diawasi',
  `tanggal_penugasan` date NOT NULL COMMENT 'Tanggal mulai penugasan',
  `status` enum('aktif','nonaktif') NOT NULL DEFAULT 'aktif' COMMENT 'Status penugasan',
  `keterangan` text COMMENT 'Catatan tambahan tentang penugasan',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_madrasah_aktif` (`madrasah_id`,`status`),
  KEY `idx_pengawas` (`pengawas_id`),
  KEY `idx_madrasah` (`madrasah_id`),
  KEY `idx_status` (`status`),
  CONSTRAINT `fk_pm_madrasah` FOREIGN KEY (`madrasah_id`) REFERENCES `madrasah` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_pm_pengawas` FOREIGN KEY (`pengawas_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=51 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='Tabel assignment pengawas ke madrasah';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pengawas_madrasah`
--

LOCK TABLES `pengawas_madrasah` WRITE;
/*!40000 ALTER TABLE `pengawas_madrasah` DISABLE KEYS */;
/*!40000 ALTER TABLE `pengawas_madrasah` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nip` varchar(20) NOT NULL,
  `nama_lengkap` varchar(100) NOT NULL,
  `password` varchar(255) NOT NULL,
  `role` enum('admin','pengawas','pimpinan') NOT NULL DEFAULT 'pengawas',
  `jabatan` varchar(100) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nip` (`nip`)
) ENGINE=InnoDB AUTO_INCREMENT=29 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-01-27 11:04:31
